.timeline
{
    color: var(--main_color);


}
.post > section
{
/* background-color: purple;
 */display: flex;
flex-direction: column;
position: relative;
border-radius: 10px;
 overflow: hidden;
 gap: 6px;
  border: 2px solid rgba(0, 0, 0, 0.098);
  background-color: white;
 
}


.post section div 
{
display: flex;
align-items: center;
justify-content: flex-start;
gap:5px;
/* background-color: antiquewhite;
 */font-size:14px;
width: fit-content;
height: fit-content;
font-weight: 500;


}

.post section .top .edit
{
    width: 40px;
    height: 40px;
    position: absolute;
    top:5px;
    right: 15px;
    gap: 10px;
}



.post .page div  p 
{
    color: black;
}


.post section .top
{
padding: 0px 5px;
}

.post section div span
{
    color: #1877F2;
    font-size:13px;
    font-weight: 500;
}
.post section small
{
/* background-color: red;
 */display: flex;
align-items: center;
justify-content: center;
width: fit-content;
height: fit-content;
position: absolute;
top: 27px;
left: 42px;
font-size: 10px;

}

.post section small svg
{
    width: 10px;
}

.post section  .photo
{
    width: 100%;
    height: 350px;
}

.post section   .photo img
{
    width: 100%;
    height: 100%;
    border-radius: 0px;
    object-fit: cover;
     object-position:center;
     display: block;
 }
.post section .react
{
/*     background-color: black;
 */    width: 100%;
    height: 59px;
    align-items: center;
    flex-direction: column;
    gap: 5px;

    padding: 5px;
}



.post section .react  .likes_emoj 
{
/*     background-color: blue;
 */    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5px;
/*     gap:5px;
 */    width: 100%;
    height: fit-content;
}
.post section .react  .likes_emoj div:first-child
{
    padding-left: 10px;
}
.post section .react  .likes_emoj div:last-child
{
    padding-right: 13px;
}
.post section .react  .likes_emoj img 
{
/*     background-color: black;
 */    width: 17px;
    height:fit-content;
    filter: var(--filter-secondary-icon);
}

.post section .react  .likes_emoj p{
/* color: white;
 */font-weight: 400;
margin: 0px;
color: var(--main_color);
word-spacing: -1px;
font-size: 13px;

}

.post section >  p{
    display: flex;
    justify-content: flex-end;
padding:0px 5px;
font-size: 14px;
color: black;
font-weight: 400;
margin: 0px;
}

.post section .react  hr
{
    width: 95%;
    color: var(--main_color);
    margin: 0px;
}

.post .comments
{
    width: 95%;
    height: fit-content;
    margin: 0px;
    padding: 0px;
}

.post .comments ul ,.post .comments ul li
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px;

}
.post .comments ul li
{
    gap: 5px;
    cursor: pointer;
    padding:5px 20px;
    border-radius: 5px;
}
.post .comments ul li:hover
{
    background-color: var(--hover_color);
}

.post .comments ul li p{
    margin: 0px;


}

