 
 .timeline .story
{
    padding: 5px;
}
 .timeline .story section
 {
    background-color: beige;
width: 120px;
height: 100%;    
border-radius: 20px;
 }

 .timeline .story section img{
    width: 100%;
    height: 100%;
    border-radius:0px ;
 }